@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

body,
html {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  font-size: 12px;
  height: 100%;
}
.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.login-form {
  height: 581px;
  width: 590px;
  padding: 0 35px;
  background-color: #c7e4ff;
  border-radius: 40px;
  border: none;
}
.card-title {
  display: flex;
  justify-content: center;
  font-size: 64px;
  font-weight: 600;
}
.card-subtitle {
  display: flex;
  justify-content: center;
  padding-top: 39px;
}
.card-subtitle h4 {
  color: #1566af;
  font-weight: 550;
}
.card-body {
  padding: 0px 70px;
  padding-top: 50px;
}
form {
  margin-top: 36px;
}
form .form-label {
  font-size: 15px;
  font-weight: 600;
}
.row button {
  width: 300px;
  padding: 10px;
  font-weight: 600;
}
.belum {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.belum h6,
.belum h6 a {
  font-weight: 550;
  text-decoration: none;
}
#login {
  padding-top: 20px;
}
.form-check a,
.form-check label {
  font-weight: 600;
  text-decoration: none;
}
.form-check a {
  margin-left: 210px;
}
.exit-button button {
  position: absolute;
  width: 38px;
  height: 30px;
  left: 504px;
  top: 50px;
  opacity: 0%;
}
.exit-button a {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 504px;
  top: 50px;
}
